@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
}

@keyframes fadeFull {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes visibility {
  from {
    display: none;
  }
  to {
    display: block;
  }
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
  display: none;
}

.visibility {
  animation: visibility 1000ms linear;
}

.fade {
  animation: fade 0.2s linear;
}

.fadeFull {
  animation: fadeFull 0.2s linear;
}

@keyframes scaleOut {
  from {
    scale: 1.1;
  }
  to {
    scale: 1;
  }
}

.card {
  box-shadow: 5px 0 3px -3px #00000030;
}

.scaleOut {
  animation: scaleOut 0.1s forwards;
}
